* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url("./12/akaza2.jpeg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: gray;
    width: 100vw;
}

header img {
    width: 100px;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 0 7px;
}

header ul li a {
    text-decoration: none;
    color: black;
}

header ul li a:hover {
    background: blue;
    width: 15px;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.form-group {
    background: gray;
    width: 40vw;
    height: 50vh;
    padding: 20px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-header {
    font-size: 50px;
    color: white;
    font-weight: 900;
    margin-bottom: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-input-group {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form-input-group input,
.form-input-group select,
.form-group-submit button {
    height: 35px;
    outline: none;
    border: 1px solid indigo;
    border-radius: 20px;
}

.form-group-submit {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-group-submit button {
    width: 20vw;
    margin: 20px;
    text-transform: capitalize;
}

.banner {
    color: white;
}
.banner h1 {
    font-family: "Lobster Two", sans-serif;
}
.text-style {
    font-weight: 900;
    color: darkslateblue;
}