*{
    height: 50%;
    width: 50%;
    padding: 30% 30%;
    align-content: center;
}


body{
    display: flex;
    justify-content: center;
}


button{
    align-content: center;
    border: none;

}
button:hover{
    cursor: pointer;
    color: rgb(12, 4,4);
    background-color: aqua;
    box-shadow: 0 0 80px 40px rgba(212,224, 33, 0.3);
    transition: 2s ease;
  
}

button {
    font-size: 10px;
    align-content: center;
}